{
    "user"               : "bot user email",
    "password"           : "bot user password",
    "domain"             : "circuitsandbox.net",
    "apiKey"             : "google translation API key",
    "sdkLogLevel"        : "error"
}
