{
    "client_id"          : "your circuit client id",
    "client_secret"      : "your circuit secret",
    "domain"             : "circuitsandbox.net",
    "apiKey"             : "google translation API key",
    "sdkLogLevel"        : "info"
}
